{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "next"
  ],
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off",
        "no-console": "off"
      }
    },
    {
      "files": [
        "**/*.test.ts",
        "**/*.test.tsx"
      ],
      "env": {
        "jest": true,
        "jest/globals": true
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "prettier",
    "jest"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-extra-non-null-assertion": "error",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "error",
    "@typescript-eslint/no-unnecessary-condition": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "import/extensions": [
      "error",
      {
        "style": "always",
        "gql": "always",
        "graphql": "always",
        "json": "always",
        "svg": "always",
        "riv": "always"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.stories.tsx",
          "**/*.test.tsx",
          "jest.setup.js",
          "tests/utils/index.ts"
        ]
      }
    ],
    "import/no-unresolved": 0,
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "groups": [
          // import {useState} from 'React'
          "external",
          // import type {ReactNode} from 'React'
          // "type",
          "internal",
          "index",
          "parent",
          "sibling",
          "builtin",
          "object"
        ]
      }
    ],
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-associated-control": "off",
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": 2,
    "no-restricted-exports": "off",
    "no-shadow": "off",
    "no-underscore-dangle": 0,
    "no-use-before-define": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "function-expression"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".tsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": 0
  }
}
